bin/
obj/
*.suo
*.user
*.userprefs
.vs/

/3rdParty/MvvmCross-3.5.0
/3rdParty/gong-wpf-dragdrop
/3rdParty/CalDAV-master
/3rdParty/Fody.PropertyChanged
/3rdParty/nuget/

/dist/*.exe
/NinjaTasks.Tests/Olaf.taskdconfig
/NinjaTasks.Tests/PublicOlaf.pfx
/3rdParty/MvvmCross-UserInteraction
/3rdParty/SyncAdapterExample
/dist/*.apk
/3rdParty/*.pdb
/TODO.md
