<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Development -->
    <httpCookies httpOnlyCookies="true" requireSSL="false" />
    <!-- Production -->
    <!--<httpCookies domain=".domain.com" httpOnlyCookies="true" requireSSL="true" />-->
  </system.web>
  
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
    
  </system.webServer>  
</configuration>
