@import "__defs.scss";

#ninjatasks-base .reminder-date-picker {
	-webkit-transform:translateX(100%);
	-moz-transform:translateX(100%);
	-o-transform:translateX(100%);
	-ms-transform:translateX(100%);
	transform:translateX(100%);
	margin-left:-100%;
	float:left;
}
#ninjatasks-base .reminder-date-picker .input-fake {
	margin-bottom:8px
}
#ninjatasks-base .reminder-date-picker.selected {
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-o-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0)
}
#ninjatasks-base .due-date-picker {
	-webkit-transform:translateX(-100%);
	-moz-transform:translateX(-100%);
	-o-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	transform:translateX(-100%);
	float:left;
}
#ninjatasks-base .due-date-picker.selected {
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-o-transform:translateX(0);
	-ms-transform:translateX(0);
	transform:translateX(0)
}
