@import "__defs.scss";

.dialog-wrapper.reminders {
	background:none;
	overflow:visible;
	padding-top:20px;
	padding-bottom:20px;
	pointer-events:none
}
.dialog.reminderItem {
	-webkit-border-radius:3px;
	border-radius:3px;
	pointer-events:auto;
	width:300px;
	margin:auto;
	top:auto;
	padding:12px;
	margin-top:10px;
	zoom:1;
}
.dialog.reminderItem:before,.dialog.reminderItem:after {
	content:"";
	display:table
}
.dialog.reminderItem:after {
	clear:both
}
.dialog.reminderItem .reminderItem-text {
	line-height:25px;
	font-size:15px;
	padding-left:50px;
	padding-right:20px;
	word-break:break-word;
	font-weight:bold;
}
.dialog.reminderItem .reminderItem-text token {
	font-weight:normal
}
.dialog.reminderItem .reminderItem-icon {
	width:32px;
	height:32px;
	margin-top:5px;
	margin-left:5px;
	float:left;
	background:#328ad6;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-top:5px;
	text-align:center;
	fill:#fff
}
.dialog.reminderItem .delete {
	cursor:pointer;
	position:absolute;
	top:2px;
	right:2px
}
html[dir=rtl] .reminderItem .icon-wrapper {
	float:right
}
html[dir=rtl] .reminderItem .reminderItem-text {
	padding-right:50px;
	padding-left:0
}
html[dir=rtl] .reminderItem .delete {
	right:auto;
	left:5px
}
