@import "__defs.scss";

.tasks-404 {
	padding:25px;
	position:absolute;
	left:0;
	right:0;
	text-align:center;
	top:50%;
	margin-top:-110px !important;
}
.tasks-404 .tasks-404-label {
	position:absolute;
	color:#fff;
	font-size:34px;
	text-align:center;
	width:100px;
	height:100px;
	top:64px;
	text-shadow:0 1px 0 rgba(0,0,0,0.2)
}
.tasks-404 svg {
	height:100px;
	width:100px;
	fill:#fff;
	-webkit-filter:drop-shadow(0 1px 0 rgba(0,0,0,0.2))
}
.tasks-404 h2 {
	font-size:18px;
	color:rgba(255,255,255,0.85);
	text-shadow:0 1px 0 rgba(0,0,0,0.2)
}
.background-05 #tasks .tasks-404,.background-06 #tasks .tasks-404 {
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:0 25%;
	background:rgba(0,0,0,0.25)
}
