<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="f" fileName="${specialfolder:ApplicationData}/Ninja/NinjaTasks/NinjaTasks.log"
            archiveFileName="${specialfolder:ApplicationData}/Ninja/NinjaTasks/NinjaTasks.{##}.log"
            
            archiveAboveSize="1024000"
            archiveNumbering="Sequence"
            maxArchiveFiles="2"
            
            layout="${longdate} ${uppercase:${level}} ${message}" />
    
    <target xsi:type="Console" name="c" 
            layout="${longdate} ${uppercase:${level}} ${message}" />
    
  </targets>

  <rules>
    <!-- set the next minlevels to "info" to view sync operations. set to "trace"
         to view what gets exchanged over the wire.     -->
    <logger name="NinjaTasks.Sync.TaskWarrior.*" minlevel="Off" writeTo="f" final="true" />
    <logger name="NinjaTasks.Sync.*" minlevel="Off" writeTo="f" />
    
    <!-- this is for debugginf purposes. goes to console.-->
    <logger name="*" minlevel="Off" writeTo="c" />
    
  </rules>
</nlog>